{% extends 'base.html' %}

{% block title %}View Customers{% endblock %}

{% block content %}
<section class="customer-section">
    <h2 class="section-title">Customer List</h2>

    <!-- Add Customer Button -->
    <div class="add-customer-container">
        <a href="/customer-Add" class="add-btn">Add Customer</a>
    </div>

    <!-- Table container -->
    <div id="table" class="customer-list"></div>
</section>

<!-- Include the table script -->
<script src="/static/js/table.js"></script>
<script>
    // Wait for DOM to load and then call generateTable
    document.addEventListener('DOMContentLoaded', () => {
        // Call the function, specifying which columns to include
        generateTable('HV-storage', 'Customer', 'table', ['name', 'site', 'image_url']);

    });
</script>
{% endblock %}
