{% extends 'base.html' %}

{% block title %}View Customers{% endblock %}

{% block content %}
<section class="customer-section">
    <h2 class="section-title">Customer List</h2>

    <!-- Add Customer Button -->
    <div class="add-customer-container">
        <a href="/customer-Add" class="add-btn">Add Customer</a>
    </div>

    <div class="customer-list">
        {% if customers %}
            <table class="customer-table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Site</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>
                                {% if customer.image_url %}
                                <img src="{{ customer.image_url }}" alt="{{ customer.name }} Logo" class="customer-logo">


                                {% else %}
                                    <span>No Logo</span>
                                {% endif %}
                            </td>
                            <td>{{ customer.name }}</td>
                            <td>
                                <a>{{ customer.site }}</a>
                            </td>
                            <td>
                                <a href="/customer-Edit/{{ customer.customer_id }}" class="edit-btn">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No customers found.</p>
        {% endif %}
    </div>
</section>

<style>
    
</style>
{% endblock %}
