{% extends 'base.html' %}

{% block title %}Choose an Action{% endblock %}

{% block content %}
<section class="action-section">
    <h2 class="section-title">Choose an Action</h2>
    <div class="action-buttons">
        <a href="/customer" class="btn primary-btn">Customer Details</a>
        <a href="/inspections" class="btn secondary-btn">Inspections</a>
        <a href="/select-Inspections" class="btn secondary-btn">Print Reports</a>
    </div>
</section>

<script>
    console.log('index')
    if (navigator.onLine && 'serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/static/js/service-worker.js', { scope: '/' })
            .then(() => {
                console.log("Service Worker Registered");
            })
            .catch((error) => {
                console.error("Service Worker Registration Failed:", error);
            });
    } else if (!navigator.onLine) {
        console.log("Skipping Service Worker registration because the device is offline.");
    }
    
</script>

{% endblock %}


